<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Fake Bitly</title>
  <link href="/Users/dexterleow/Desktop/14-Sep.Link-Shortener/link-shortener/public/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>THE LINK KNOWS ALL. SO CAN YOU.</h1>

    <h3>Own your links with Bitly, the world’s leading customer experience platform.</h3>


    <div id="form_container">
      <form method="POST" action="/" name="shortenUrl" id="ShortenForm">

        <input id="shorten_url" taborder="1" name="url" type="text" class="shorten-input" placeholder="Paste a link to shorten it" value="" />

        <input id="shorten_btn" type="submit" class="button" value="Shorten" />
      </form>

      <div id="shorten_url_box">
      </div>
        <!-- <input type="hidden" name="basic_style" value="1">
        <input type="hidden" name="classic_mode" value=""> -->
        <!-- allow rapid shorten -->
        <!-- <input type="hidden" name="rapid_shorten_mode" value=""> -->

        <!-- <form action="" method="get">
        <input type="hidden" name="" value=""/>
      </form> -->


  </div>
</div>
</body>
</html>
